@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Cabin", serif;
    background-color: rgb(62 103 186);
}

.container {
    max-width: 80%;
    text-align: center;
    padding: 20px;
    background-color: rgb(36, 69, 134);
    box-shadow: 0 0 10px rgb(0 0 0 / 14%);
    border-radius: 11px;
}

.header {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.header h1 {
    color: #ffffff;
}

.logo {
    width: 230px;
}

.image-container {
    margin-bottom: 30px;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.description {
    font-size: 18px;
    color: #eeeeee;
    width: 70%;
    margin: auto;
}

.get-started-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #39a920;
    border-radius: 5px;
    transition: all 0.6s ease-in-out;
}

.get-started-btn:hover {
    /* background-color: #0056b3; */
    background-color: #007bff;
}
