<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div class="container">
  <div class="error-message">Oops! Account Not Found</div>
  <div class="description">The password or email you entered is incorrect, kindly create an account if you don't have one.</div>
  <a class="home-link" href="/register">Register</a>
  <a class="home-link" href="/login">Login</a>
</div>
</body>
</html>
