<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration form</title>
</head>
<body>
<h3>Student Registration Form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    First name: <input type="text" th:field="*{firstName}" />

    <br><br>

    LastName: <input type="text" th:field="*{lastName}" />

    <br><br>

    Country:
    <select th:field="*{country}">
<!--        <option th:value="Brazil">Brazil</option>-->
<!--        <option th:value="France">France</option>-->
<!--        <option th:value="Germany">Germany</option>-->
<!--        <option th:value="India">India</option>-->
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}" />
    </select>

    <br><br>

    Favorite Programming Language:
<!--    <input type="radio" th:field="*{favoriteLanguage}" th:value="Go">Go<input>-->
<!--    <input type="radio" th:field="*{favoriteLanguage}" th:value="Java">Java<input>-->
<!--    <input type="radio" th:field="*{favoriteLanguage}" th:value="Python">Python<input>-->

    <input type="radio" th:field="*{favoriteLanguage}" th:each="tempLang : ${languages}" th:value="${tempLang}" th:text="${tempLang}" />

    <br><br>

    Favorite Operating Systems:
<!--    <input type="checkbox" th:field="*{favoriteSystems}" th:value="Linux">Linux</input>-->
<!--    <input type="checkbox" th:field="*{favoriteSystems}" th:value="macOS">macOS</input>-->
<!--    <input type="checkbox" th:field="*{favoriteSystems}" th:value="'Microsoft Windows'">Microsoft Windows</input>-->

    <input type="checkbox" th:field="*{favoriteSystems}" th:each="tempSystem : ${systems}" th:value="${tempSystem}" th:text="${tempSystem}"/>

    <br><br>


    <input type="submit" value="submit">

</form>
</body>
</html>